/* Style général */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 90%; /* Ajuste pour les petits écrans */
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #333;
}

input[type="text"],
input[type="password"],
button {
    width: calc(100% - 22px); /* Ajuste pour les bordures et padding */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Media Queries */
@media (max-width: 768px) {
    form {
        width: 95%; /* Ajuste la largeur pour les écrans plus petits */
    }
}
